<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cosmetic Advisor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="themeAll.css">
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<nav style="background-color: #d9d9d9" class="navbar navbar-expand-md">
    <a href="/" class="navbar-brand col-xs-4">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
        <ul class="col-xs-4 navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/allCosmetics">All cosmetics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allIngredients">All ingredients</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/addIngredient">Add new ingredient</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/confirmCosmetics">Confirm cosmetics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api">API</a>
            </li>
        </ul>
        <div class="nav col-xs-4 navbar-nav">
            <div class="dropdown" sec:authorize="isAuthenticated()">
                <div class="form-inline my-2 my-lg-0 dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/account">Account info</a>
                        <a class="dropdown-item" href="/myCosmetics">My cosmetics</a>
                        <form th:action="@{/logout}" method="get">
                            <button class="btn btn-md btn-danger btn-block" name="registration"
                                    type="Submit">Logout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAnonymous()">
                <a href="/login" class="btn btn-outline-success my-2 my-sm-0">Log in</a>
                <a href="/registration" class="btn btn-outline-success my-2 my-sm-0">Register</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <table class="table table-stripped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Producer</th>
            <th scope="col">Purpose</th>
            <th scope="col">Ingredients</th>
            <th scope="col">Confirm</th>
        </tr>
        </thead>
        <tbody th:each="cosmetic : ${cosmetics}">
        <tr>
            <td th:text="${cosmetic.getId()}"></td>
            <td th:text="${cosmetic.getName()}"></td>
            <td th:text="${cosmetic.getProducer()}"></td>
            <td th:text="${cosmetic.getPurpose()}"></td>
            <td>
                <ul th:each="ingredient : ${cosmetic.getIngredients()}">
                    <li th:text="${ingredient.getName()}"></li>
                </ul>
            </td>
            <td>
                <form th:action="@{/cosmetic}"  method="post" th:object="${cosmetic}">
                    <input type="hidden" name="id" th:value="*{getId()}" />
                    <button class="btn btn-info" type="submit">Check</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>